* {margin:0; padding:0; font-size:12px; font-family:"留묒� 怨좊뵓";}
table, th, td {border-collapse:collapse; border:1px solid black;}
table {margin-top: 5px; table-layout: fixed; width: 100%; border-collapse: collapse; border: 0; word-break: break-all; }
th {padding:10px; color:#fff; border-right:1px solid gray; font-size: 14px; font-weight:bold; background:#bf2025;}
td { height: 25px; line-height: 1.5; padding:3px; color:#232323; vertical-align:middle;}

.header {height: 69px;  margin: 10px; background: url("images/top_bg.gif") repeat-x; }
.tit {text-align: center; }
.date { text-align: center; }
.textl{text-align: left !important;}
.outside {background:red;}
.check {font-weight:bold; text-align:center;}
table a{color:#0454e5; text-decoration:none;}
tr:hover td, tr:focus td, tr:active td { background:#fafafa;}
h1 { margin-top: 15px; font-weight:bold; font-size:16px;}
.repairDay {color:#fe8011; font-weight:bold;}
.tbl_box { margin: 10px; position: relative; }
.pos_ab { position: absolute; right: 10px; top: 0; }
li { list-style: none; }
.zip_box { padding: 9px; line-height: 52px; text-align: center; font-weight: bold; }
.zip_box dt { margin-bottom: 10px; font-size: 23px; color: #fff; background: url("images/logo.png") no-repeat;  }
.zip_box li { display: inline; }
.zip_box li a { color: #454650; }
.blue{color: blue; font-weight: bold; text-align: center;}
.red{color: red; font-weight: bold; text-align: center;}
.gre{color: green; font-weight: bold; text-align: center;}
.pass_page{text-align: left; text-decoration: underline; }